<a href="https://colab.research.google.com/github/sai2722/zero-to-hero-python/blob/main/ZERO_TO_HERO_PYTHON.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print('Helllo Coders')

Helllo Coders

In [ ]:
a = 20
#Dynamically typed Language

print(a)
print('a')

20
a

In [ ]:
#Dynamically typed language

x =20
print(type(x))
x= 8.65
print(type(x))

<class 'int'>
<class 'float'>

In [ ]:
x = 'Simran'
print(type(x))

<class 'str'>

In [ ]:
x ='s'
y ='$'
print(type(x))
print(type(y))

<class 'str'>
<class 'str'>

In [ ]:
# Aman's Goggle is cool
print("Aman's goggle is cool")

Aman's goggle is cool

In [ ]:
 a = 10
 b = 20
 print (id(a))
 print (id(b))

94828820265760
94828820266080

In [ ]:
a = b = c =10
print(a)
print(b)
print(c)

10
10
10

In [ ]:
a = b = c = 10
print(a, end =' ')
print(b, end =' ')
print(c)

10 10 10

In [ ]:
print(a, b, c)

10 10 10

In [ ]:
a, b ,c =10, 20 ,30

In [ ]:
print(a ,b ,c)

8 9 30

In [ ]:
#input
# Adding two values 

a = input('Enter first value:')
b = input('Enter the second value :')

print(a+b)
print('8'+'9')

Enter first value:8
Enter the second value :9
89
89

In [ ]:
a = int(input('Enter First Value: '))
b = int(input('Enter the second value:'))

print('sum', a+b)

Enter First Value: 45
Enter the second value:65
sum 110

In [ ]:
a = int(input('Enter First Value: '))
b = int(input('Enter the second value:'))
res = a+b
print(f'sum', {res})

Enter First Value: 45
Enter the second value:55
sum {100}

In [ ]:
a = b = c = 10
print(id(a), id(b), id(c))

94828820265760 94828820265760 94828820265760

In [ ]:

# list

li = [10,20,30,40,50]
print(type(li))

<class 'list'>

In [ ]:
li = [5,10.5, 'hello', "coders" ,12+5j]
print(li)

[5, 10.5, 'hello', 'coders', (12+5j)]

In [ ]:
print(li[0])
print(li[1])

5
10.5

In [ ]:
li = [5,8,2,3,4,1]
print(li)

print (5 in li)
print (10 in li)

[5, 8, 2, 3, 4, 1]
True
False

In [ ]:
li = [1,2,3]
print(li*4)

[1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3]

In [ ]:
li1 = [1 ,2 ,3]
li2 = [4 ,5 ,6]

print(li1 + li2)

[1, 2, 3, 4, 5, 6]

In [ ]:
li = [1,2,3]
for i in li:
  print (i)

1
2
3

In [ ]:
# list is mutable
li = [1,2,3,4,6]
print (li)

li[0] = 10
print(li)

[1, 2, 3, 4, 6]
[10, 2, 3, 4, 6]

In [ ]:
x = int(input("Enter a number:"))
y = int(input("Enter another number:"))
p = (pow(x,y))
print(p)

Enter a number:6
Enter another number:2
36